*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  background-color: black;
  color:white;
  
}

.folder{
  position: fixed;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  background-color: whitesmoke;
  transform: translate3d(-50%, -50%, 0);
  mix-blend-mode: difference;
}

.partie-skills{
  width: 50%;
  margin: 0 auto;

  h3{
    margin: 50px 0 0;
  }

  ul{
    padding-left: 0;
    margin: 0px 0px 10px; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    height: auto;

    li{
      list-style: none;
      margin: 10px 15px;
      padding: 0;
      justify-content: center;
    }
  }
}

.portrait{
  width: 600px;
  margin: 0 auto;

  img{
    border: 5px solid black;
    filter: brightness(150%);
    filter: invert(100%);
  }
  
}

.cube-wrapper{
  width: 900px;
  height: 900px;
  margin: 50px auto;
  perspective: 1500px;
  perspective-origin:50% -10%;
  
  .cube{
    //border: 1px solid black;
    width: 900px;
    height: 900px;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50%;
    transition: all 0.9s cubic-bezier(.19,.92,.61,1.38);
    

    div{
      position: absolute;
      width: 900px;
      height: 900px;
      backface-visibility: hidden;
    }

    .front{
      //border: 1px solid blue;
      transform: translate3d(0, 0, 450px);
      background-color: rgb(255, 255, 255);
      
    }
    .left{
      transform-origin: center right;
      transform:translate3d(-900px, 0, 450px) rotateY(-90deg);
      border: 1px solid red;
      background-color: rgb(255, 0, 0);
    }
    .right{
      transform-origin: center left;
      transform: translate3d(900px, 0, 450px) rotateY(90deg);
      border: 1px solid green;
      background-color: rgb(0, 128, 0);
    }
    .back{
      transform: translate3d(0, 0, -450px) rotateY(180deg);
      border: 1px solid yellow;
      background-color: rgb(255, 255, 0);
    }
  }
}

