*{
  box-sizing: border-box;
}

$font-h1 : 'Open Sans Condensed', sans-serif;

body{
  padding: 0;
  margin: 0;
  background-color: #32213A;
  position: relative;
}
.portrait-container{
  position: relative;
  width: 100vh;
  margin: 0 auto;

  .grid-container{
    display: grid;
    width: 100vh;
    height: 100vh;
    
  }
  
  img{
    filter: brightness(200%) contrast(125%);
  }
}

.cv-container{
  margin: 0 auto;
  width: 200px;
}



