* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #32213A;
  position: relative;
}

.top {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  height: 20vh;
  top: 0px;
  left: 0px;
  color: #001432;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #8d80ad;
  filter: invert(100%);
}
.top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
  z-index: 50;
  background-color: whitesmoke;
}
.top h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 7.5rem;
  position: absolute;
  letter-spacing: 2px;
  font-variant: small-caps;
  font-weight: bolder;
  left: -22.5px;
  margin: 0;
  transform: translate(0, -50%);
  top: 50%;
}

.skills-front, .skills-back-tools {
  position: absolute;
  transition: transform 0.58s ease-out;
  z-index: -1;
  height: 60vh;
  top: 40vh;
  display: none;
}

.skills-front {
  width: calc((100vw - 85vh)/2);
  left: 0;
  transform: translate(110%, 0);
}
.skills-front.visible-slide {
  transform: translate(15px, 0);
}
.skills-front h3 {
  text-align: center;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  color: #cbdad9;
  margin: 0;
}
.skills-front .front-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #82a3a1;
  border-radius: 10px;
  padding: 10px;
}
.skills-front .front-container img {
  width: 5vw;
  margin: 15px;
}

.skills-back-tools {
  width: calc((100vw - 85vh)/2);
  right: 0;
  transform: translate(-110%, 0);
}
.skills-back-tools.visible-slide {
  transform: translate(-10px, 0);
}
.skills-back-tools h3 {
  text-align: center;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  color: #cbdad9;
  margin: 0;
}
.skills-back-tools .back-container, .skills-back-tools .tools-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #93827f;
  border-radius: 10px;
  padding: 10px;
}
.skills-back-tools img {
  width: 5vw;
  margin: 15px;
}

.grid-container {
  width: 80vh;
  height: 100vh;
  position: relative;
  margin: -20vh auto 0;
  overflow: hidden;
}
.grid-container .grid-square {
  background-image: url("./images//portraitnblight.jpg");
  background-repeat: no-repeat;
  background-size: 100vh 100vh;
  border: 10px solid #32213A;
  position: absolute;
  transition: all 0.5s ease-out;
  pointer-events: none;
}
.grid-container .grid-square .folder {
  position: absolute;
  border: 10px solid #32213A;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}
.grid-container .grid-square .menu-item {
  font-family: "Oswald", sans-serif;
  position: absolute;
  top: 10px;
  left: 10px;
  color: blanchedalmond;
  letter-spacing: 2px;
  font-size: 1.5rem;
  display: none;
  transition: display 0.5s ease-out;
}
.grid-container .grid-square .menu-item div {
  width: 95%;
  height: 90%;
  transition: transform 0.25s ease-out, color 0.25s ease-out, font-size 0.25s ease-out, background-color 0.25s ease-out;
  padding-left: 10px;
}
.grid-container .two {
  position: absolute;
  width: 80vh;
  height: 20vh;
  background-color: transparent;
  background-image: none;
  top: 20vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(2.5rem + 0.5vw);
  font-family: "Open Sans Condensed", sans-serif;
  color: blanchedalmond;
  letter-spacing: 0.5px;
  font-weight: bold;
  border: none;
}
.grid-container .two h2 {
  font-variant: small-caps;
  font-family: "Open Sans Condensed", sans-serif;
}
.grid-container .three {
  width: 20vh;
  height: 20vh;
  top: 40vh;
  left: 0px;
  background-position: 0px 0vh;
  transform: rotateY(90deg);
}
.grid-container .three .folder {
  width: 20vh;
  height: 20vh;
  margin-left: -10px;
  margin-top: -10px;
}
.grid-container .four {
  width: 60vh;
  height: 40vh;
  top: 40vh;
  left: 20vh;
  background-position: -20vh 0vh;
  opacity: 0;
  border-right: none;
}
.grid-container .four .folder {
  width: 80vh;
  height: 40vh;
  margin-left: -10px;
  margin-top: -10px;
}
.grid-container .five {
  background-position: 0px -20vh;
  width: 20vh;
  height: 40vh;
  top: 60vh;
  left: 0;
  transform: translateY(100%);
}
.grid-container .five .folder {
  width: 20vh;
  height: 40vh;
  margin-left: -10px;
  margin-top: -10px;
}
.grid-container .seven.active-menu {
  width: 100vh;
  height: 100vh;
  background-position: 20vh 0vh;
  top: 40vh;
  left: 0;
}
.grid-container .seven {
  background-position: -20vh -40vh;
  width: 60vh;
  height: 20vh;
  top: 80vh;
  left: 20vh;
  transform: translateX(-100vh);
  border-right: none;
}
.grid-container .seven .folder.active-menu {
  width: 100vh;
  height: 100vh;
  border: none;
  margin: 0;
  top: 0vh;
}
.grid-container .seven .folder {
  border-right: none;
  width: 60vh;
  height: 20vh;
  margin-left: -10px;
  margin-top: -10px;
}
.grid-container .seven .menu-item.full-title:hover {
  background-color: transparent;
  cursor: normal;
}
.grid-container .seven .menu-item.full-title img {
  margin-left: 10px;
}
.grid-container .seven .menu-item {
  width: 60vh;
  height: 18vh;
  transition: transform 0.25s ease-out, color 0.25s ease-out, font-size 0.25s ease-out, background-color 0.25s ease-out;
  top: 0px;
  left: 0px;
}
.grid-container .seven .menu-item .title-menu {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 10px;
  width: 125%;
  font-size: 4.5rem;
  display: none;
}
.grid-container .seven .menu-item:hover {
  background-color: gray;
  opacity: 0.75;
  z-index: 3;
  transition: transform 0.25s ease-out, color 0.25s ease-out, font-size 0.25s ease-out, background-color 0.25s ease-out;
}
.grid-container .seven .menu-item:hover div {
  padding: 0;
  position: absolute;
  transform: translate(25%, 25%);
  transition: transform 0.25s ease-out, color 0.25s ease-out, font-size 0.25s ease-out, background-color 0.25s ease-out;
  text-shadow: 2px 2px black;
  color: white;
  font-size: 2rem;
  filter: brightness(175%);
  text-shadow: 3px 2.5px 5px black;
  z-index: 5;
  opacity: 1;
}

.cv-container {
  margin: 0 auto;
  width: 200px;
}

/***********************Media queries********************************/
@media screen and (max-width: 1440px) {
  .top {
    width: 1024px;
  }
  .top h1 {
    left: -18px;
    font-size: 5.5rem;
  }

  h2 {
    font-size: clamp(2.5rem, 4vw, 4.5rem);
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .top {
    width: 768px;
    height: 150px;
  }
  .top h1 {
    left: -18px;
    font-size: 5.5rem;
  }

  .grid-container {
    width: 80vw;
    height: 100vw;
    margin: -20vw auto 0;
  }
  .grid-container .grid-square {
    background-size: 100vw 100vw;
    z-index: 1;
  }
  .grid-container .grid-square .folder {
    z-index: 2;
    position: absolute;
    border: 10px solid #32213A;
    transition: all 0.25s ease-out;
  }
  .grid-container .two {
    position: absolute;
    width: 80vw;
    height: 20vw;
    background-color: transparent;
    background-image: none;
    top: 20vw;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2.5rem + 0.5vw);
    font-family: "Open Sans Condensed", sans-serif;
    color: blanchedalmond;
    letter-spacing: 0.5px;
    font-weight: bold;
    border: none;
  }
  .grid-container .two h2 {
    font-variant: small-caps;
    font-family: "Open Sans Condensed", sans-serif;
  }
  .grid-container .three {
    width: 20vw;
    height: 20vw;
    top: 40vw;
    left: 0px;
    background-position: 0px 0vw;
    transform: rotateY(90deg);
  }
  .grid-container .three .folder {
    width: 20vw;
    height: 20vw;
    margin-left: -10px;
    margin-top: -10px;
  }
  .grid-container .four {
    width: 80vw;
    height: 40vw;
    top: 40vw;
    left: 20vw;
    background-position: -20vw 0vw;
    opacity: 0;
  }
  .grid-container .four .folder {
    width: 80vw;
    height: 40vw;
    margin-left: -10px;
    margin-top: -10px;
  }
  .grid-container .five {
    background-position: 0px -20vw;
    width: 20vw;
    height: 40vw;
    top: 60vw;
    left: 0;
    transform: translateY(100%);
  }
  .grid-container .five .folder {
    width: 20vw;
    height: 40vw;
    margin-left: -10px;
    margin-top: -10px;
  }
  .grid-container .seven.active-menu {
    width: 100vw;
    height: 100vw;
    background-position: 20vw 40vw;
    top: 40vw;
  }
  .grid-container .seven {
    background-position: -20vw -40vw;
    width: 80vw;
    height: 20vw;
    top: 80vw;
    left: 20vw;
    transform: translateX(-125%);
  }
  .grid-container .seven .folder.active-menu {
    width: 100vw;
    height: 100vw;
    border: none;
    top: 0vw;
  }
  .grid-container .seven .folder {
    width: 80vw;
    height: 20vw;
    margin-left: -10px;
    margin-top: -10px;
  }
}/*# sourceMappingURL=main.css.map */